body {
    background-size: cover;
    background-color: #fff;
    color: #000;
}


// hr {
//     display: block;
//     height: 1px;
//     border: 0;
//     border-top: 1px solid $color-grey-light;
//     margin: 1em 0;
//     padding: 0 0 16px;
// }
