<!DOCTYPE html>
<html>

    {{>header}}

	<body>



        <div class="wrap">

            <div class="page-row">
                {{!-- NAV --}}
                {{>nav}}

                <div class="content-wrap offset">
                    <div class="content-home">
                        {{#each hero_home}}
                            <!-- <img class="content-home__carousel" src="http://via.placeholder.com/1366x600" alt=""> -->
                            <img class="content-home__carousel" src="{{background_image}}" alt="">
                        {{/each}}



                        <div id="instafeed" class="instafeed"></div>

                    </div>
                </div>
            </div>
        </div>

        {{>jsfiles}}



		{{!-- {{>footer}}--}}

	</body>

</html>
